

@model Product

<div class="card m-1 p-1">
    <h4>
        @Model.name
        <span class="badge rounded-pill bg-primary text-white float-end"><small>$@Model.price</small></span>
    </h4>
    <ul>
        <li>Year: @Model.year</li>
        <li>Number of Parts: @Model.num_parts</li>
        <li>Category: @Model.category</li>
        <li>Description: @Model.description</li>

    </ul>

</div>
